<!--To extend the base template from base.html-->
{% extends "base.html" %}

{% block title %}Study Session Tab{% endblock %}

{% block content %}

<div class="container">
    <br />
    <div class="row text-center">
        <div class="col-md-6">
            <br />
            <h1 class="display-3"><strong>C-A-S-O</strong></h1>
            <!-- <br /> -->
            <!-- <br /> -->
            <h2 class="h2_initial">"Learning never exhausts the mind." - Leonardo da Vinci</h2>
            <!-- <br /> -->
            <p class="p_initial">Welcome to CASO, this website is designed to help users tackle their most difficult LeetCode questions/problems</p>
            <br />
        </div>
        <div class="col-md-6">
            <img src="/static/Flashcards.png" style="width: 100%;">
        </div>
    </div>
</div>

{% endblock %}