body {
    background-color: #9FBBBB;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
  }

  input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(61, 64, 63);
  }
  
  input[type=email] {
    border: none;
    border-bottom: 2px solid rgb(61, 64, 63);
  }

  input[type=password] {
    border: none;
    border-bottom: 2px solid rgb(61, 64, 63);
  }

  .rectangle {
    height: 250px;
    width: 450px;
    background-color: rgb(61, 64, 63);
    margin: auto;
    border-radius: 25px;
  }

  .rectangle_2{
    text-align: center;
    height: 250px;
    width: 450px;
    background-color: rgb(61, 64, 63);
    margin: auto;
    border-radius: 25px;
  }

  .rectangle:hover {
    background-color: #515151;
  }

  .center {
    padding: 70px 0;
    text-align: center;
  }

  h4.delete-button {
    text-indent: 70%;
  }

/* Formating the title text */
  h1 {
    text-align: start;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: Averta, sans-serif;
    color: #fff;
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    /* -webkit-text-stroke: 2px rgb(58, 100, 80); */
  }
/* Formating the quote text */
  h2 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Averta, sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 44px;
    font-weight: 700;
  }

  /* Formatting for the description text */
  p {
    text-align: start;
    margin-bottom: 20px;
    font-family: Averta, sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 30px;

  }

  .btn-yellow {
    background-color: #ffc107;
    border-color: #ffc107;
}
